// [] Colors Variables

$white: #f5fcff;
$white-50: #ffffff;
$white-100: #f8f8f8;
$white-200: #f2f2f2;
$white-300: #f4f5f5;
$white-400: #e9ebeb;

$gray-100: #eeeeee;
$gray-200: #cccccc;
$gray-300: #bdc1c3;
$gray-400: #80868a;
$gray-500: #454545;

$blue-100: #9de1fe;
$blue-300: #4fc3f7;
$blue-500: #384c56;

$green-100: #09d261;

$black: #000000;
